---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Instant ISLM to KES Conversion",
    description:
      "VulaiPay offers lightning-fast conversions of ISLM tokens to Kenyan Shillings, ensuring you get access to your funds when you need them.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "User-Friendly Interface",
    description:
      "Our intuitive interface is designed for both crypto enthusiasts and beginners, making currency exchange hassle-free.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Secure Transactions",
    description:
      "We prioritize your security. VulaiPay employs robust encryption and multi-factor authentication to safeguard your assets and data.",
    icon: "bbx:bxs-bot",
  },
  {
    title: "Seamless MPESA Integration",
    description:
      "Easily link your MPESA wallet to VulaiPay, allowing for direct transfers of converted funds to your preferred mobile money platform.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Low Transaction Fees",
    description:
      "Say goodbye to exorbitant fees. VulaiPay offers competitive rates for ISLM to KES conversions, saving you money.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Transparent Rates",
    description:
      "We provide real-time exchange rates and ensure transparency in the conversion process, so you always know the value of your transactions.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    VulaiPay Features at a Glance
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Explore the benefits of using VulaiPay for hassle-free ISLM to KES transactions.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
